// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {
  //$block-name: &;
  // #{$block-name}__element

  &__search-img,
  &__cart-img {
    display: none;
    position: absolute;
    top: 31px;
    left: 9vw;
    opacity: 0.2;
  }

  &__search-img {
    width: 18px;
    height: 18px;
    overflow: hidden;
  }

  &__cart-img {
    width: 21px;
    height: 18px;
  }


  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    box-sizing: border-box;
    position: relative;
    height: 0;
    padding-left: 23.4375vw;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    font-size: 17px;

    &--hidden {
      display: none;
      background: none;
    }
  }

  &__link {
    display: none;
    text-decoration: none;
    line-height: 80px;
    color: $black;
    font-weight: 700;
  }
}

/* stylelint-disable */
.main-nav--open,
.no-js .main-nav {

  .main-nav__item {
    height: 80px;
    border-bottom: 1px solid $border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .main-nav__search-img,
  .main-nav__cart-img {
    display: block;
  }

  .main-nav__link {
    display: block;
  }
}

/* stylelint-enable */

@include md-block {

  .main-nav {
    padding-left: 50px;
    padding-right: 50px;
    background-color: $color-bg;

    &__list {
      flex-wrap: wrap;
      flex-direction: row;
    }

    &__link {
      display: inline;
      height: inherit;
    }

    &__search-img {
      display: block;
      position: absolute;
      top: 37px;
      left: 4.296875vw;
    }

    &__cart-img {
      display: block;
      top: 35px;
      left: 4.036458vw;
    }

    &__item {
      display: flex;
      align-items: center;
      height: 88px;
      padding-left: 0;

      &--hidden {
        display: none;
      }

      &--search {
        box-sizing: border-box;
        order: -2;
        position: relative;
        width: 10.677083vw;
        padding: 0;
        margin-left: 41.796875vw;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;

        .main-nav__link {
          font-size: 0;
        }
      }

      &--cart {
        box-sizing: border-box;
        order: -1;
        width: 34.375vw;
        padding: 0;

        .main-nav__link {
          margin-left: auto;
        }
      }

      &--catalog {
        height: 63px;
        font-size: 15px;

        .main-nav__link {
          line-height: 63px;
        }
      }

      &--order {
        height: 63px;
        font-size: 15px;
        margin-left: 37px;

        .main-nav__link {
          line-height: 63px;
        }
      }

      &--delivery {
        display: block;
        height: 63px;
        font-size: 15px;
        margin-left: auto;

        .main-nav__link {
          line-height: 63px;
          color: $text-gray;
          font-weight: 400;
        }
      }
    }
  }
}


@include xl-block {

  .main-nav {
    padding-left: 100px;
    padding-right: 100px;

    &__search-img {
      top: 35px;
      left: 32px;
    }

    &__cart-img {
      left: 31px;
    }

    &__item {
      font-size: 17px;

      &--hidden {
        display: block;
      }

      &--catalog {
        order: -4;
        height: 88px;

        .main-nav__link {
          line-height: 88px;
        }
      }

      &--order {
        order: -3;
        height: 88px;
        margin-left: 71px;

        .main-nav__link {
          line-height: 88px;
        }
      }

      &--cart {
        width: 264px;
        margin-left: auto;

        .main-nav__link {
          margin-left: auto;
          line-height: 88px;
        }
      }

      &--arrivals,
      &--sale,
      &--delivery {
        height: 63px;
        font-size: 15px;

        .main-nav__link {
          line-height: 63px;
        }
      }

      &--sale {
        margin-left: 60px;
      }

      &--search {
        width: 82px;
        margin-left: 225px;
      }
    }
  }
}
