// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav
  $block-name: &
  // #{$block-name}__element
  font-family: 'Open Sans', Arial, Helvetica, sans-serif

  &__list
    display: flex
    flex-direction: column
    width: 100%
    list-style: none
    margin: 0
    padding: 0

  &__item
    box-sizing: border-box
    height: 0
    padding-left: 23.4375vw
    transition-duration: 0.3s
    transition-timing-function: ease-out
    font-size: 17px

    &--search,
    &--cart
      position: relative

      &::before
        content: ''
        display: none
        position: absolute
        top: 31px
        left: 9vw
        opacity: 0.2

    &--search::before
      width: 18px
      height: 18px
      background: url('../img/svg/search.svg') no-repeat
      overflow: hidden

    &--cart::before
      width: 21px
      height: 18px
      background: url('../img/svg/cart.svg') no-repeat

    &--hidden
      display: none
      background: none

  &__link
    display: none
    text-decoration: none
    line-height: 80px
    color: $black
    font-weight: 700

/* stylelint-disable */
.main-nav--open,
.no-js .main-nav
  .main-nav__item
    height: 80px
    border-bottom: 1px solid $border-color
    transition-duration: 0.3s
    transition-timing-function: ease-out

    &--search::before,
    &--cart::before
      display: block

  .main-nav__link
    display: block
/* stylelint-enable */

+md-block()
  .main-nav
    padding-left: 50px
    padding-right: 50px

    &__list
      flex-direction: row
      flex-wrap: wrap

    &__link
      display: inline
      height: inherit

    &__item
      display: flex
      align-items: center
      height: 88px
      padding-left: 0

      &--hidden
        display: none

      &--search
        box-sizing: border-box
        position: relative
        width: 10.677083vw
        order: -2
        padding: 0
        margin-left: 41.796875vw
        border-left: 1px solid $border-color
        border-right: 1px solid $border-color

        &:before
          display: block
          position: absolute
          left: 4.296875vw
          top: 37px

        .main-nav__link
          font-size: 0

      &--cart
        box-sizing: border-box
        width: 34.375vw
        padding: 0
        order: -1

        .main-nav__link
          margin-left: auto

        &:before
          display: block
          top: 35px
          left: 4.0364583vw

      &--catalog
        font-size: 15px
        height: 63px

        .main-nav__link
          line-height: 63px

      &--order
        font-size: 15px
        margin-left: 37px
        height: 63px

        .main-nav__link
          line-height: 63px

      &--delivery
        display: block
        font-size: 15px
        height: 63px
        margin-left: auto

        .main-nav__link
          line-height: 63px
          color: $text-gray
          font-weight: 400

+xl-block()
  .main-nav
    padding-left: 100px
    padding-right: 100px

    &__item
      font-size: 17px

      &--hidden
        display: block

      &--catalog
        height: 88px
        order: -4

        .main-nav__link
          line-height: 88px

      &--order
        order: -3
        height: 88px
        margin-left: 71px

        .main-nav__link
          line-height: 88px

      &--cart
        width: 264px

        .main-nav__link
          margin-left: auto
          line-height: 88px

        &::before
          left: 31px

      &--arrivals,
      &--sale,
      &--delivery
        font-size: 15px
        height: 63px

        .main-nav__link
          line-height: 63px

      &--sale
        margin-left: 60px

      &--search
        margin-left: 275px
        width: 82px

        &::before
          top: 35px
          left: 32px

