// В этом файле должны быть стили для БЭМ-блока contact, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contact {
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-template-areas: 'title' 'email' 'adress' 'map' 'button';

  &__title {
    grid-area: title;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    padding-left: 30px;
  }

  &__email,
  &__adress {
    margin-left: 30px;
    font-size: 15px;
    color: $color-text;
    line-height: 30px;

    &-text {
      margin-left: 30px;
    }
  }

  &__email {
    grid-area: email;
    margin-top: 40px;

    &-link {
      text-decoration: none;
      color: $text-gray;
      border-bottom: 1px solid $color-corp;

      &:hover {
        color: $color-corp;
      }

      &:active {
        opacity: 0.3;
        border-bottom: 1px solid rgba($color-corp, 0.3);
      }
    }
  }

  &__adress {
    grid-area: adress;
    margin-top: 40px;

    &-title {
      display: inline-block;
      vertical-align: top;
    }

    &-text {
      display: inline-block;
    }
  }

  &__map {
    grid-area: map;
    height: 450px;
    overflow: hidden;
    margin-top: 40px;

    &--interactive {
      width: 100%;
    }

    & img {
      display: block;
      width: 100%;
    }
  }

  &__button {
    grid-area: button;
    height: 52px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@include md-block {

  .contact {
    max-height: 813px;
    padding-top: 70px;
    padding-bottom: 57px;
    /* stylelint-disable */
    grid-template-areas: 'title title'
                         'email adress'
                         'map map'
                         'button button';
    /* stylelint-enable */

    &__title {
      position: relative;
      padding-left: 50px;
      font-size: 43px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -16px;
        right: 55px;
        width: 47px;
        height: 81px;
        background: url('../img/svg/flag.svg') no-repeat;
      }
    }

    &__email {
      margin-left: 50px;
      margin-top: 50px;
    }

    &__adress {
      margin-top: 50px;
      margin-left: 0;
    }

    &__map {
      margin-top: 60px;
    }

    &__button {
      width: 230px;
      margin-top: 55px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include xl-block {

  .contact {
    padding-top: 71px;
    padding-bottom: 105px;
    grid-template-columns: repeat(2, 1fr);
    /* stylelint-disable */
    grid-template-areas: 'title map'
                         'email map'
                         'adress map'
                         'button map';
    /* stylelint-enable */

    &__title {
      font-size: 53px;
      padding-top: 70px;
      padding-left: 175px;

      &::after {
        top: 62px;
        left: 64px;
      }
    }

    &__email,
    &__adress {
      font-size: 17px;
      padding-left: 175px;
      margin-left: 0;
    }

    &__adress {
      margin-top: 40px;
    }

    &__map {
      margin-top: 0;
    }
  }
}
