// В этом файле должны быть стили для БЭМ-блока contact, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contact {
  //$block-name: &; // #{$block-name}__element
  padding-top: 40px;
  padding-bottom: 40px;

  &__title {
    display: inline-block;
    margin: 0;
    padding-left: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  &__email,
  &__adress {
    display: flex;
    margin-left: 30px;
    margin-right: 35px;
    font-size: 15px;
    line-height: 30px;
    color: $color-text;

    &-text {
      margin-left: 30px;
    }
  }

  &__email {
    margin-top: 40px;

    &-title {
      white-space: nowrap;
    }

    &-text {
      border-bottom: 1px solid $color-corp;
    }
  }

  &__adress {
    margin-top: 30px;
  }

  &__map {
    margin-top: 40px;

    &-img img {
      display: block;
      width: 100%;
    }
  }

  &__button {
    box-sizing: border-box;
    display: block;
    width: 81.25%;
    height: 52px;
    margin: 40px auto 0;
  }
}
