// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog {
  $block-name: &; // #{$block-name}__element
  overflow: hidden;

  &__title {
    display: block;
    width: 100%;
    height: 175px;
    margin: 0;
    background-color: $color-gray-bg;
    line-height: 175px;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 30px;
  }
}

@include md-block {

  .catalog {

    &__title {
      height: 225px;
      font-size: 43px;
      line-height: 225px;
    }

    &__item {
      margin: 55px 50px;

      &:last-child {
        margin-bottom: 63px;
      }
    }
  }
}

@include xl-block {

  .catalog {

    &__title {
      height: 255px;
      font-size: 53px;
      line-height: 255px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 40px;
      margin-left: 50px;
      margin-right: 50px;
    }

    &__item {

      margin-top: 0;

      &:last-child {
        margin-bottom: 105px;
      }
    }
  }
}
