extends ../pug/layout.pug

block variables
  - var spriteSvg = 'img/svg/catalog-sprite.svg';

block meta
  title Главная страница

block header
  +page-header()
    .logo-wrapper
      a.logo(href='index.html')
        +svg-img('logo__img', 'Логотип Mishka', spriteSvg, 'logo-mobile')(width=86, height=35)
      +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
    .nav-wrapper
      nav.main-nav#nav
        ul.main-nav__list
          li.main-nav__item.main-nav__item--catalog
            a.main-nav__link
              span.main-nav__link-text Каталог товаров
          li.main-nav__item.main-nav__item--order
            a.main-nav__link(href='order.html')
              span.main-nav__link-text Вязание на заказ
          li.main-nav__item.main-nav__item--search
            a.main-nav__link(href='#')
              span.main-nav__link-text Поиск по сайту
              +svg-bg('main-nav__search-img', spriteSvg, 'search')
          li.main-nav__item.main-nav__item--cart
            a.main-nav__link(href='#')
              span.main-nav__link-text Корзина: пока пуста
              +svg-bg('main-nav__cart-img', spriteSvg, 'cart')
          li.main-nav__item.main-nav__item--hidden.main-nav__item--arrivals
            a.main-nav__link(href='#')
              span.main-nav__link-text Новые поступления
          li.main-nav__item.main-nav__item--hidden.main-nav__item--sale
            a.main-nav__link(href='#')
              span.main-nav__link-text Распродажа
          li.main-nav__item.main-nav__item--hidden.main-nav__item--delivery
            a.main-nav__link(href='#')
              span.main-nav__link-text Бесплатная доставка по России

block content
  +page-main()
    section.catalog
      h1.catalog__title Каталог товаров

      .zigzag(aria-hidden='true')

      ul.catalog__list
        li.catalog__item.card
          .card__inner
            a.card__link(href='#')
              +picture-retina('card__img', 'photo-1', 'Зайчик-попрыгайчик')
            p.card__info
              span.card__title
                a.card__link(href='#') Зайчик попрыгайчик <br>
              span.card__data Рост 30см, вес 200 г<br>
              span.card__price 1200 руб.
                a.modal-size(href='#modal')
                  +svg-bg('card__cart-img', spriteSvg, 'cart')(width=21, height=19)
        li.catalog__item.card
          .card__inner
            a.card__link(href='#')
              +picture-retina('card__img', 'photo-2', 'Корзинка для белья')
            p.card__info
              span.card__title
                a.card__link(href='#') Корзинка для белья <br>
              span.card__data Диаметр 15 см, высота 10 см<br>
              span.card__price 690 руб.
                a.modal-size(href='#modal')
                  +svg-bg('card__cart-img', spriteSvg, 'cart')(width=21, height=19)
        li.catalog__item.card
          .card__inner
            a.card__link(href='#')
              +picture-retina('card__img', 'photo-3', 'Большая корзинка для игрушек')
            p.card__info
              span.card__title
                a.card__link(href='#') Большая корзинка для игрушек <br>
              span.card__data Диаметр 30 см, высота 30 см<br>
              span.card__price 1500 руб.
                a.modal-size(href='#modal')
                  +svg-bg('card__cart-img', spriteSvg, 'cart')(width=21, height=19)
        li.catalog__item.prod
          span.prod__title
            +svg-bg('prod__title-ico', spriteSvg, 'video')(width=32, height=22)
            | Процесс производства
          .prod__video
            +picture-img('','video', 'Видео процесса производства')
            +svg-bg('prod__video-play', spriteSvg, 'play')(width=101, height=77)
          p.prod__info
            span.prod__text По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
            a(href='#')
             button.button.prod__button Сделать заказ
  +modal()

block footer
  +page-footer()
    a(href='index.html')
      +svg-img('page-footer__logo','Mishka', spriteSvg, 'logo-footer')(width=102, height=34)
    ul.page-footer__list
      li.page-footer__item.page-footer__item--insta Инстаграмм
        a.page-footer__link(href='#')
          +svg-img('', 'Инстаграмм', spriteSvg, 'insta')(width=22, height=21)
      li.page-footer__item.page-footer__item--fb Фейсбук
        a.page-footer__link(href='#')
          +svg-img('', 'Фейсбук', spriteSvg, 'fb')(width=15, height=28)
      li.page-footer__item.page-footer__item--tw Твиттер
        a.page-footer__link(href='#')
          +svg-img('', 'Твиттер', spriteSvg, 'twitter')(width=23, height=20)
    a.page-footer__htmlacademy(href='#') Разработанно
      +svg-img('page-footer__htmlacademy-ico', 'HTML Academy', spriteSvg, 'htmlacademy')(width=27, height=34)
