extends ../pug/layout.pug

block meta
  title Главная страница

block header
  +page-header()
    .logo-wrapper
      +logo()
        img(width='86', src='img/svg/logo-mobile.svg', alt='Логотип Mishka')
      +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
    .nav-wrapper
      nav.main-nav#nav
        ul.main-nav__list
          li.main-nav__item.main-nav__item--catalog
            a.main-nav__link(href='#') Каталог товаров
          li.main-nav__item.main-nav__item--order
            a.main-nav__link(href='#') Вязание на заказ
          li.main-nav__item.main-nav__item--search
            a.main-nav__link(href='#') Поиск по сайту
          li.main-nav__item.main-nav__item--cart
            a.main-nav__link(href='#') Корзина: пока пуста
          li.main-nav__item.main-nav__item--hidden.main-nav__item--arrivals
            a.main-nav__link(href='#') Новые поступления
          li.main-nav__item.main-nav__item--hidden.main-nav__item--sale
            a.main-nav__link(href='#') Распродажа
          li.main-nav__item.main-nav__item--hidden.main-nav__item--delivery
            a.main-nav__link(href='#') Бесплатная доставка по России
block content
  h1.unvis Магазин вещей ручной работы
  section.banner
    h2.unvis Ассортимент
    p.banner__header Милые штуки ручной
      span.banner__header--nowrap  работы для дома
    a.banner__item.banner__item--interior(href='#') Предметы<br> интерьера
    a.banner__item.banner__item--toys(href='#') Детские<br> игрушки

  .zigzag

  section.product
    h2 Вязанные корзинки
    p Товар недели
    p Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
    table
      tr
        td Цвет:
        td  &#171;Тиффани&#187;/серый
      tr
        td Диаметр:
        td 25 см
      tr
        td Высота:
        td 15 см
    img(src='#', alt='Вязанные корзинки')
    p.cost Цена: 990 руб.
    button Заказать

  section.about
    h2.unvis Преимущества
    ul
      li Экологически читые материалы
      li Скандинавский стиль по российской цене
      li Увеличивает лайки на фотографиях
      li Связано вручную с любовью и умилением
      li Поддержка отечественного производителя
      li Поставляется в подарочной упаковке

  section.comment
    h2 Отзывы
    p Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
    p Анастасия Красильникова
    p @misssssiskras
    .arraw-left
      span.unvis Переключить влево
    .arrow-right
      span.unvis Переключить вправо
    button
      a(href='') Написать

  section.contact
    h2 Контакты
    span.email e-mail:
    span.email-text info@mimimishkashop.ru
    span.adress адрес:
    span.adress-text г. Санкт-Петербург, ул. Большая Конюшенная, д. 19/8. офис 101
    img.map(src='#', alt='Карта')
    button
      a(href='#') Напишите нам

block footer
  +page-footer()
    img(src='#', alt='Логотип Мишка')
    ul.social-list
      li.insta Инстаграмм
      li.fb Фейсбук
      li.tw Твиттер
    span Разработанно
