extends ../pug/layout.pug

block variables
  - var spriteSvg = 'img/svg/index-sprite.svg';

block meta
  title Главная страница

block header
  +page-header()
    .logo-wrapper
      a.logo
        +svg-img('logo__img', 'Логотип Mishka', spriteSvg, 'logo-mobile')(width=86, height=35)
      +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
    .nav-wrapper
      nav.main-nav#nav
        ul.main-nav__list
          li.main-nav__item.main-nav__item--catalog
            a.main-nav__link(href='catalog.html')
              span.main-nav__link-text Каталог товаров
          li.main-nav__item.main-nav__item--order
            a.main-nav__link(href='order.html')
              span.main-nav__link-text Вязание на заказ
          li.main-nav__item.main-nav__item--search
            a.main-nav__link(href='#')
              span.main-nav__link-text Поиск по сайту
              +svg-bg('main-nav__search-img', spriteSvg, 'search')
          li.main-nav__item.main-nav__item--cart
            a.main-nav__link(href='#')
              span.main-nav__link-text Корзина: пока пуста
              +svg-bg('main-nav__cart-img', spriteSvg, 'cart')
          li.main-nav__item.main-nav__item--hidden.main-nav__item--arrivals
            a.main-nav__link(href='#')
              span.main-nav__link-text Новые поступления
          li.main-nav__item.main-nav__item--hidden.main-nav__item--sale
            a.main-nav__link(href='#')
              span.main-nav__link-text Распродажа
          li.main-nav__item.main-nav__item--hidden.main-nav__item--delivery
            a.main-nav__link(href='#')
              span.main-nav__link-text Бесплатная доставка по России
block content
  +page-main()
    h1.unvis Магазин вещей ручной работы
    section.banner
      h2.unvis Ассортимент
      p.banner__title Милые штуки ручной
        span.banner__header--nowrap  работы для дома
      a.banner__item.banner__item--interior(href='#') Предметы<br> интерьера
      a.banner__item.banner__item--toys(href='#') Детские<br> игрушки

    .zigzag(aria-hidden='true')

    section.product
      h2.product__title Вязаные корзинки
      span.product__week Товар недели
      p.product__info Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
      table.product__table.table
        tbody
          tr.table__row
            td.table__name Цвет:
            td.table__text  &#171;Тиффани&#187;/серый
          tr.table__row
            td.table__name Диаметр:
            td.table__text 25 см
          tr.table__row
            td.table__name Высота:
            td.table__text 15 см
      +picture-retina('product__img', 'triple-set', 'Вязанные корзинки')
      span.product__cost Цена: 990 руб.
      button.button.product__button Заказать

    .zigzag-line(aria-hidden='true')

    section.feature
      h2.feature__title Коротко о нас:
      ul.feature__list
        li.feature__item Экологически чиcтые материалы
          +svg-bg('feature__item-img feature__item-eco', spriteSvg, 'icon-1')(width=32, height=37)
        li.feature__item Скандинавский стиль по российской цене
          +svg-bg('feature__item-img feature__item-cost', spriteSvg, 'icon-2')(width=47, height=27)
        li.feature__item Увеличивает лайки на фотографиях
          +svg-bg('feature__item-img feature__item-like', spriteSvg, 'icon-3')(width=34, height=27)
        li.feature__item Связано вручную с любовью и умилением
          +svg-bg('feature__item-img feature__item-handmade', spriteSvg, 'icon-4')(width=35, height=34)
        li.feature__item Поддержка отечественного производителя
          +svg-bg('feature__item-img feature__item-domestic', spriteSvg, 'icon-5')(width=55, height=23)
        li.feature__item Поставляется в подарочной упаковке
          +svg-bg('feature__item-img feature__item-gift', spriteSvg, 'icon-6')(width=33, height=32)

    section.comment
      h2.comment__title Отзывы
      p.comment__review Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
      .comment__contact
        span.comment__name Анастасия Красильникова <br>
        span.comment__email @misssssiskras
      .comment__arrow-block
        button.button-arrow.comment__arrow-left Предыдущий отзыв
        button.button-arrow.comment__arrow-right Следующий отзыв
      button.button.comment__button
        a.comment__link(href='') Написать

    .zigzag-line.zigzag-line--margin(aria-hidden='true')

    section.contact
      h2.contact__title Контакты
      .contact__email
        span.contact__email-title e-mail:
        span.contact__email-text
          a.contact__email-link(href='mailto:info@mimimishkashop.ru') info@mimimishkashop.ru

      .contact__adress
        span.contact__adress-title адрес:
        span.contact__adress-text г. Санкт-Петербург,<br>ул. Большая Конюшенная,<br>д. 19/8. офис 101
      .contact__map
        <iframe class='contact__map--interactive' src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d816.392579482913!2d30.3219257048305!3d59.938506451414625!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1599534432585!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        +picture-img('contact__map-img', 'map', 'Адрес на карте')
      button.button.contact__button
        a(href='#') Напишите нам

block footer
  +page-footer()
    a
      +svg-img('page-footer__logo','Mishka', spriteSvg, 'logo-footer')(width=102, height=34)
    ul.page-footer__list
      li.page-footer__item.page-footer__item--insta Инстаграмм
        a.page-footer__link(href='#')
          +svg-img('', 'Инстаграмм', spriteSvg, 'insta')(width=22, height=21)
      li.page-footer__item.page-footer__item--fb Фейсбук
        a.page-footer__link(href='#')
          +svg-img('', 'Фейсбук', spriteSvg, 'fb')(width=15, height=28)
      li.page-footer__item.page-footer__item--tw Твиттер
        a.page-footer__link(href='#')
          +svg-img('', 'Твиттер', spriteSvg, 'twitter')(width=23, height=20)
    a.page-footer__htmlacademy(href='#') Разработанно
      +svg-img('page-footer__htmlacademy-ico', 'HTML Academy', spriteSvg, 'htmlacademy')(width=27, height=34)
