extends ../pug/layout.pug

block meta
  title Главная страница
  meta(name='description', content='')

block header
  +page-header()
    +logo('/')
      img(src='img/demo-logo.svg', alt='Logo', width='64', height='15')
    +main-nav(1)

block content
  p содержимое
  +block('red').block__elem
    p Привет от всех нас до всех вас

block footer
  +page-footer()
    p footer
