extends ../pug/layout.pug

block meta
  title Главная страница

block header
  +page-header()
    .logo-wrapper
      +logo()
        img(width='86', src='img/svg/logo-mobile.svg', alt='Логотип Mishka')
      +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
    .nav-wrapper
      nav.main-nav#nav
        ul.main-nav__list
          li.main-nav__item.main-nav__item--catalog
            a.main-nav__link(href='#') Каталог товаров
          li.main-nav__item.main-nav__item--order
            a.main-nav__link(href='#') Вязание на заказ
          li.main-nav__item.main-nav__item--search
            a.main-nav__link(href='#') Поиск по сайту
          li.main-nav__item.main-nav__item--cart
            a.main-nav__link(href='#') Корзина: пока пуста
          li.main-nav__item.main-nav__item--hidden.main-nav__item--arrivals
            a.main-nav__link(href='#') Новые поступления
          li.main-nav__item.main-nav__item--hidden.main-nav__item--sale
            a.main-nav__link(href='#') Распродажа
          li.main-nav__item.main-nav__item--hidden.main-nav__item--delivery
            a.main-nav__link(href='#') Бесплатная доставка по России
block content

block footer
  +page-footer()
    p footer
