extends ../pug/layout.pug

block variables
  - var spriteSvg = 'img/svg/order-sprite.svg';

block meta
  title Главная страница

block header
  +page-header()
    .logo-wrapper
      a.logo(href='index.html')
        +svg-img('logo__img', 'Логотип Mishka', spriteSvg, 'logo-mobile')(width=86, height=35)
      +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
    .nav-wrapper
      nav.main-nav#nav
        ul.main-nav__list
          li.main-nav__item.main-nav__item--catalog
            a.main-nav__link(href='catalog.html')
              span.main-nav__link-text Каталог товаров
          li.main-nav__item.main-nav__item--order
            a.main-nav__link
              span.main-nav__link-text Вязание на заказ
          li.main-nav__item.main-nav__item--search
            a.main-nav__link(href='#')
              span.main-nav__link-text Поиск по сайту
              +svg-bg('main-nav__search-img', spriteSvg, 'search')
          li.main-nav__item.main-nav__item--cart
            a.main-nav__link(href='#')
              span.main-nav__link-text Корзина: пока пуста
              +svg-bg('main-nav__cart-img', spriteSvg, 'cart')
          li.main-nav__item.main-nav__item--hidden.main-nav__item--arrivals
            a.main-nav__link(href='#')
              span.main-nav__link-text Новые поступления
          li.main-nav__item.main-nav__item--hidden.main-nav__item--sale
            a.main-nav__link(href='#')
              span.main-nav__link-text Распродажа
          li.main-nav__item.main-nav__item--hidden.main-nav__item--delivery
            a.main-nav__link(href='#')
              span.main-nav__link-text Бесплатная доставка по России

block content
  main.order
    h1.order__title Вязание на заказ

    .zigzag(aria-hidden='true')

    p.order__text Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.
    form.order__form.form(action='get')
      fieldset.form__block
        legend.form__title Тип
        ul.form__list.type-block(role='none')
          li.form__item
            input.form__input.type-block__input#type-interior(type='radio', name='type', value='interior', checked)
            label.form__label.type-block__label(for='type-interior') Аксессуар для интерьера
          li.form__item
            input.form__input.type-block__input#type-toy(type='radio', name='type', value='toy')
            label.form__label.type-block__label.type-block__label--margin(for='type-toy') Детская игрушка

      fieldset.form__block.form__block--gray
        legend.form__title.form__title--margin Цвет
        ul.form__list.color-block(role='none')
          li.form__item.color-block__item
            input.form__input.color-block__input#white(type='checkbox', name='color', value='white', checked)
            label.form__label.color-block__label(for='white') Белый
          li.form__item.color-block__item
            input.form__input.color-block__input#gray(type='checkbox', name='color', value='gray', checked)
            label.form__label.color-block__label(for='gray') Серый
          li.form__item.color-block__item
            input.form__input.color-block__input#tyffany(type='checkbox', name='color', value='tyffany')
            label.form__label.color-block__label(for='tyffany') &#171;Тиффани&#187;
          li.form__item.color-block__item
            input.form__input.color-block__input#black(type='checkbox', name='color', value='black')
            label.form__label.color-block__label(for='black') Черный
          li.form__item.color-block__item
            input.form__input.color-block__input#pink(type='checkbox', name='color', value='pink')
            label.form__label.color-block__label(for='pink') Розовый
          li.form__item.color-block__item
            input.form__input.color-block__input#orange(type='checkbox', name='color', value='orange')
            label.form__label.color-block__label(for='orange') Оранжевый

      fieldset.form__block.form__block--margin
        legend.form__title ФИО
        ul.form__list.username-block(role='none')
          li.form__item.username-block__item
            label.form__label.username-block__label(for='username') Имя:
            input.form__input.username-block__input#name(type='text', name='name', required, autocomplete='off', placeholder='Введите Ваше имя*')
          li.form__item.username-block__item
            label.form__label.username-block__label(for='sirname') Фамилия:
            input.form__input.username-block__input#sirname(type='text', name='siname', required, autocomplete='off', placeholder='Укажите фамилию*')
          li.form__item.username-block__item
            label.form__label.username-block__label(for='patronymic') Отчество:
            input.form__input.username-block__input#patronymic(type='text', name='patronymic', autocomplete='off', placeholder='Отчество, если желаете')

      .contacts-block
        .form__block.contacts-block__item
          label.form__title.contacts-block__label(for='phone', aria-label='Телефон') Тел
          input.form__input.contacts-block__input.contacts-block__input--phone#phone(type='number', name='phone', required, autocomplete='off', placeholder='+7 XXX XX XX*')

        .form__block.contacts-block__item
          label.form__title.contacts-block__label(for='email', aria-label='Адрес электронной почты') E-mail
          input.form__input.contacts-block__input.contacts-block__input--mail#email(type='email', name='email', required, autocomplete='off', placeholder='Ваш Email')

      .form__block.options-block
        label.form__title.options-block__lable(for='options', aria-label='Дополнительная информация') Доп
        textarea.form__input.options-block__input#options(placeholder='Опишите все Ваши пожелания к заказу')

      .form__inner

        span.form__note *Поля обязательны для заполнения

        button.button.form__button(type='submit') Отправить заказ

block footer
  +page-footer()
    a(href='index.html')
      +svg-img('page-footer__logo','Mishka', spriteSvg, 'logo-footer')(width=102, height=34)
    ul.page-footer__list
      li.page-footer__item.page-footer__item--insta Инстаграмм
        a.page-footer__link(href='#')
          +svg-img('', 'Инстаграмм', spriteSvg, 'insta')(width=22, height=21)
      li.page-footer__item.page-footer__item--fb Фейсбук
        a.page-footer__link(href='#')
          +svg-img('', 'Фейсбук', spriteSvg, 'fb')(width=15, height=28)
      li.page-footer__item.page-footer__item--tw Твиттер
        a.page-footer__link(href='#')
          +svg-img('', 'Твиттер', spriteSvg, 'twitter')(width=23, height=20)
    a.page-footer__htmlacademy(href='#') Разработанно
      +svg-img('page-footer__htmlacademy-ico', 'HTML Academy', spriteSvg, 'htmlacademy')(width=27, height=34)
