extends ../pug/layout.pug

block variables
  - var spriteSvg = 'img/svg/catalog-sprite.svg';

block meta
  title Главная страница

block header
  +page-header()
    .logo-wrapper
      a.logo(href='index.html')
        +svg-img('logo__img', 'Логотип Mishka', spriteSvg, 'logo-mobile')(width=86, height=35)
      +burger('Показать главное меню', 'nav', 'main-nav--open')(class='main-nav__toggler')
    .nav-wrapper
      nav.main-nav#nav
        ul.main-nav__list
          li.main-nav__item.main-nav__item--catalog
            a.main-nav__link(href='catalog.html')
              span.main-nav__link-text Каталог товаров
          li.main-nav__item.main-nav__item--order
            a.main-nav__link
              span.main-nav__link-text Вязание на заказ
          li.main-nav__item.main-nav__item--search
            a.main-nav__link(href='#')
              span.main-nav__link-text Поиск по сайту
              +svg-bg('main-nav__search-img', spriteSvg, 'search')
          li.main-nav__item.main-nav__item--cart
            a.main-nav__link(href='#')
              span.main-nav__link-text Корзина: пока пуста
              +svg-bg('main-nav__cart-img', spriteSvg, 'cart')
          li.main-nav__item.main-nav__item--hidden.main-nav__item--arrivals
            a.main-nav__link(href='#')
              span.main-nav__link-text Новые поступления
          li.main-nav__item.main-nav__item--hidden.main-nav__item--sale
            a.main-nav__link(href='#')
              span.main-nav__link-text Распродажа
          li.main-nav__item.main-nav__item--hidden.main-nav__item--delivery
            a.main-nav__link(href='#')
              span.main-nav__link-text Бесплатная доставка по России

block content
  h1 Вязание на заказ
  p Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.
  form.form(action='get')

    fieldset
      legend Тип
      ul
        li
          input#type(type='radio', name='type', value='interior', checked)
          label(for='type') Аксессуар для интерьера
        li
          input#type(type='radio', name='type', value='toy')
          label(for='type') Детская игрушка

    fieldset
      legend Цвет
      ul
        li
          input#white(type='checkbox', name='color', value='white', checked)
          label(for='white') Белый
        li
          input#gray(type='checkbox', name='color', value='gray', checked)
          label(for='gray') Серый
        li
          input#tyffany(type='checkbox', name='color', value='tyffany')
          label(for='tyffany') &#171;Тиффани&#187;
        li
          input#black(type='checkbox', name='color', value='black')
          label(for='black') Черный
        li
          input#pink(type='checkbox', name='color', value='pink')
          label(for='pink') Розовый
        li
          input#orange(type='checkbox', name='color', value='orange')
          label(for='orange') Оранжевый

    fieldset
      legend ФИО
      ul
        li
          label(for='username') Имя
          input#name(type='text', name='name', required, placeholder='Введите Ваше имя*')
        li
          label(for='sirname') Фамилия
          input#sirname(type='text', name='siname', required, placeholder='Укажите фамилию*')
        li
          label(for='patronymic') Отчество
          input#patronymic(type='text', name='patronymic', placeholder='Отчество, если желаете')

    fieldset
      legend Тел
      ul
        li
          input(type='number', name='phone', required, placeholder='+7 XXX XX XX*')

    fieldset
      legend E-mail
      ul
        li
          input(type='email', name='email', required, placeholder='Ваш Email')

    fieldset
      legend Доп
      ul
        li
          textarea(placeholder='Опишите все Ваши пожелания к заказу')

    span *Поля обязательный для заполнения

    button.button(type='submit') Отправить заказ

block footer
  +page-footer()
    a(href='index.html')
      +svg-img('page-footer__logo','Mishka', spriteSvg, 'logo-footer')(width=102, height=34)
    ul.page-footer__list
      li.page-footer__item.page-footer__item--insta Инстаграмм
        a.page-footer__link(href='#')
          +svg-img('', 'Инстаграмм', spriteSvg, 'insta')(width=22, height=21)
      li.page-footer__item.page-footer__item--fb Фейсбук
        a.page-footer__link(href='#')
          +svg-img('', 'Фейсбук', spriteSvg, 'fb')(width=15, height=28)
      li.page-footer__item.page-footer__item--tw Твиттер
        a.page-footer__link(href='#')
          +svg-img('', 'Твиттер', spriteSvg, 'twitter')(width=23, height=20)
    a.page-footer__htmlacademy(href='#') Разработанно
      +svg-img('page-footer__htmlacademy-ico', 'HTML Academy', spriteSvg, 'htmlacademy')(width=27, height=34)
