// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 160px;
  background-color: $color-footer-bg;
  padding-left: 69px;
  padding-right: 69px;

  &__list {
    display: flex;
    align-items: center;
    height: 50%;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    justify-content: space-between;
  }

  &__item {
    font-size: 0;

    &--insta {
      background: url('../img/svg/insta.svg') no-repeat;
      width: 22px;
      height: 21px;
    }
    &--fb {
      background: url('../img/svg/fb.svg') no-repeat;
      width: 15px;
      height: 28px;
    }

    &--tw {
      background: url('../img/svg/twitter.svg') no-repeat;
      width: 23px;
      height: 20px;
    }
  }

  &__htmlacademy {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    font-size: 19px;
    font-weight: 700;
  }
}
