// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 160px;
  background-color: $color-gray-bg;
  padding-left: 69px;
  padding-right: 69px;

  .page-footer__htmlacademy-ico {
    color: $color-corp;
  }

  &__logo {
    display: none;
    cursor: pointer;
    color: $black;

    &:hover {
      color: $color-ico;
    }

    &:active {
      color: rgba($color-ico, 0.3);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
  }

  &__item {
    font-size: 0;

    &--insta {
      width: 22px;
      height: 21px;
    }

    &--fb {
      width: 15px;
      height: 28px;
    }

    &--tw {
      width: 23px;
      height: 20px;
    }
  }

  &__link {
    color: $black;

    &:hover {
      color: $color-ico;
    }

    &:active {
      color: rgba($color-ico, 0.3);
    }
  }

  &__htmlacademy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 182px;
    margin: auto;
    font-size: 19px;
    font-weight: 700;
    color: $black;
    text-decoration: none;

    &:hover .page-footer__htmlacademy-ico {
      color: $color-ico;
    }

    &:active .page-footer__htmlacademy-ico {
      color: rgba($color-ico, 0.3);
    }
  }
}

@include md-block {

  .page-footer {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 143px;
    padding-left: 50px;
    padding-right: 50px;

    &__logo {
      display: block;
    }

    &__list {
      width: 140px;
    }

    &__htmlacademy {
      margin: 0;
    }
  }
}

@include xl-block {

  .page-footer {
    padding-left: 100px;
    padding-right: 100px;
  }
}
