// В этом файле должны быть стили для БЭМ-блока feature, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feature {
  $block-name: &; // #{$block-name}__element
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

  &__title {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    $line-height: 20px;

    position: relative;
    font-size: 17px;
    line-height: $line-height;
    font-weight: 700;
    padding-top: 85px;

    &--eco {

      &::before {
        bottom: $line-height * 2 + 20px;
        width: 32px;
        height: 37px;
        background: url('../img/svg/icon-1.svg') no-repeat;
      }
    }

    &--cost {

      &::before {
        bottom: $line-height * 2 + 28px;
        width: 47px;
        height: 27px;
        background: url('../img/svg/icon-2.svg') no-repeat;
      }
    }

    &--like {

      &::before {
        bottom: $line-height * 2 + 23px;
        width: 34px;
        height: 27px;
        background: url('../img/svg/icon-3.svg') no-repeat;
      }
    }

    &--handmade {

      &::before {
        bottom: $line-height * 2 + 20px;
        width: 35px;
        height: 34px;
        background: url('../img/svg/icon-4.svg') no-repeat;
      }
    }

    &--domestic {

      &::before {
        bottom: $line-height * 2 + 30px;
        width: 55px;
        height: 23px;
        background: url('../img/svg/icon-5.svg') no-repeat;
      }
    }

    &--gift {

      &::before {
        bottom: $line-height * 2 + 23px;
        width: 33px;
        height: 32px;
        background: url('../img/svg/icon-6.svg') no-repeat;
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
    }
  }
}

