// В этом файле должны быть стили для БЭМ-блока feature, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feature {
  $block-name: &; // #{$block-name}__element
  $line-height: 20px;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

  &__title {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    width: 96%;
    font-size: 17px;
    line-height: $line-height;
    font-weight: 700;
    padding-top: 85px;
  }

  &__item-img {
    position: absolute;
    left: 0;
  }

  &__item-eco {
    bottom: $line-height * 2 + 20px;
    width: 32px;
    height: 37px;
  }

  &__item-cost {
    bottom: $line-height * 2 + 28px;
    width: 47px;
    height: 27px;
  }

  &__item-like {
    bottom: $line-height * 2 + 23px;
    width: 34px;
    height: 27px;
  }

  &__item-handmade {
    bottom: $line-height * 2 + 20px;
    width: 35px;
    height: 34px;
  }

  &__item-domestic {
    bottom: $line-height * 2 + 30px;
    width: 55px;
    height: 23px;
  }

  &__item-gift {
    bottom: $line-height * 2 + 23px;
    width: 33px;
    height: 32px;
  }
}

@include md-block {

  .feature {
    $line-height: 22px;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 55px;

    &__title {
      font-size: 43px;
    }

    &__list {
      flex-wrap: wrap;
      height: 490px;
    }

    &__item {
      box-sizing: border-box;
      width: 50%;
      height: 156px;
      font-size: 20px;
      line-height: $line-height;
      padding-top: 110px;
      padding-right: 40px;
    }

    &__item-eco {
      bottom: $line-height * 2 + 20px;
    }

    &__item-cost {
      bottom: $line-height * 2 + 28px;
    }

    &__item-like {
      bottom: $line-height * 2 + 23px;
    }

    &__item-handmade {
      bottom: $line-height * 2 + 20px;
    }

    &__item-domestic {
      bottom: $line-height * 2 + 30px;
    }

    &__item-gift {
      bottom: $line-height * 2 + 23px;
    }
  }
}

@include xl-block {

  .feature {
    padding-left: 175px;
    padding-right: 175px;

    &__title {
      font-size: 53px;
    }
  }
}
