//- Все примеси в этом файле должны начинаться c имени блока (block)

mixin block(mods)

  //- Принимает:
  //- mods    {string} - список модификаторов
  //- Вызов:
        +block('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' block--' + modsList[i].trim();
      }
    }

  .block(class=allMods)&attributes(attributes)
    block
