// В этом файле должны быть стили для БЭМ-блока comment, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.comment {
  $block-name: &; // #{$block-name}__element
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding-left: 30px;
  padding-right: 30px;

  &__title {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
  }

  &__review {
    font-size: 15px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 0;
    line-height: 30px;
    color: $color-text;
  }

  &__contact {
    width: 100%;
    height: 45px;
    margin-top: 35px;
    font-size: 17px;
  }

  &__name {
    font-weight: 700;
    line-height: 24px;
  }

  &__email {
    color: $color-text;
    line-height: 30px;
    font-weight: 400;
  }

  &__arrow-block {
    margin-top: 35px;
  }

  &__arrow-left {
    background-image: url('../img/svg/arrow-left.svg');
    border-right-width: 0.5px;
  }

  &__arrow-right {
    background-image: url('../img/svg/arrow-right.svg');
    border-left-width: 0.5px;
  }

  &__arrow-left,
  &__arrow-right {

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__button {
    width: 100%;
    height: 52px;
    margin-top: 38px;
  }
}

@include md-block {

  .comment {

    @include retina-2x {
      background: url('../img/review@2x.jpg') no-repeat;
      background-size: contain;
    }

    @include retina-3x {
      background: url('../img/review@3x.jpg') no-repeat;
      background-size: contain;
    }

    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 80px;
    padding-top: 79px;
    padding-left: 50px;
    padding-right: 50px;
    background: url('../img/review.jpg') no-repeat;
    background-size: contain;
    background-position: left center;

    &__title {
      font-size: 43px;
      order: -2;
    }

    &__review {
      margin-top: 50px;
      font-size: 17px;
    }

    &__button {
      order: -1;
      width: 175px;
      margin-left: auto;
      margin-top: 0;
    }

    &__contact {
      width: auto;
      margin-top: 65px;
    }

    &__arrow-block {
      margin-top: 78px;
      margin-right: 20px;
      margin-left: auto;
    }

    &__arrow-left,
    &__arrow-right {
      border: none;
      margin-bottom: 62px;
    }

    &__arrow-left {
      margin-right: 37px;
    }
  }
}

@include xl-block {

  .comment {
    margin-top: 85px;
    padding-left: 175px;

    &__title {
      font-size: 53px;
    }

    &__review {
      padding-right: 100px;
    }

    &__contact {
      margin-top: 45px;
    }

    &__arrow-block {
      margin-top: 59px;
    }

    &__arrow-left,
    &__arrow-right {
      margin-bottom: 111px;
    }
  }
}
