// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form {
  $block-name: &; // #{$block-name}__element

  &__block {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__title {
    display: table;
    font-size: 1.063rem;
    font-weight: 700;
    color: $color-corp;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc(1.063rem / 2);
      right: 30px;
      left: 92px;
      height: 1px;
      background-color: $color-corp;
    }
  }

  &__list {
    margin: 0;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
  }

  &__label {
    font-size: 1.063rem;
    font-weight: 700;
  }

  &__note {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin: 0 30px;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: $text-gray;
  }

  &__button {
    width: calc(100% - 60px);
    margin: 30px 30px 55px;
  }
}

@include md-block {

  .form {

    &__block {
      padding-left: 50px;
      padding-right: 50px;

      &--gray {
        margin-top: 50px;
        padding-top: 26px;
        padding-bottom: 50px;
        background-color: $color-gray-bg;
      }

      &--margin {
        margin-top: 50px;
      }
    }

    &__title {
      width: 25%;
      float: left;
      margin-top: 20px;

      &--margin {
        margin-top: 44px;
      }

      &::after {
        display: none;
      }
    }

    &__list {
      display: flex;
    }

    &__label {
      font-size: 1.188rem;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 50px;
    }

    &__note {
      display: inline-block;
      order: 1;
      width: auto;
      margin: 0;
      font-size: 1.063rem;
    }

    &__button {
      order: 0;
      width: 230px;
      margin: 0;
    }
  }
}
