// В этом файле должны быть стили для БЭМ-блока contacts-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts-block {
  $block-name: &; // #{$block-name}__element

  &__label {
    margin-top: 34px;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    border: 0;
    padding-right: 35px;
    border-bottom: 2px solid $black;
    margin-top: 6px;
    outline: none;
    color: $text-gray;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right center;

    &--phone {
      background-image: url('../img/svg/phone.svg');
      background-size: 25px 24px;

      &:hover,
      &:active,
      &:focus {
        background-image: url('../img/svg/phone_hover.svg');
      }
    }

    &--mail {
      background-image: url('../img/svg/mail.svg');
      background-size: 32px 21px;

      &:hover,
      &:active,
      &:focus {
        background-image: url('../img/svg/mail_hover.svg');
      }
    }

    &:hover,
    &:active,
    &:focus {
      border-color: $color-corp;
    }
  }
}

@include md-block {

  .contacts-block {
    padding-top: 26px;
    padding-bottom: 50px;
    background-color: $color-gray-bg;

    &__item {
      margin-top: 24px;
    }

    &__label {
      width: 25%;
    }

    &__input {
      width: 75%;
      margin: 0;
    }
  }
}
